{% extends 'base.html.twig' %}

{% block body %}
    <h1>Artikels list</h1>

    <table>
        <thead>
            <tr>
                <th>Naam</th>
                <th>Omschrijving</th>
                <th>Technischespecificatie</th>
                <th>Inkoopprijs</th>
                <th>Minimalevoorraad</th>
                <th>Aantalvoorraad</th>
                <th>Bestelserie</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artikel in artikels %}
            <tr>
                <td><a href="{{ path('artikel_show', { 'id': artikel.id }) }}">{{ artikel.naam }}</a></td>
                <td>{{ artikel.omschrijving }}</td>
                <td>{{ artikel.technischespecificatie }}</td>
                <td>{{ artikel.inkoopprijs }}</td>
                <td>{{ artikel.minimaleVoorraad }}</td>
                <td>{{ artikel.aantalVoorraad }}</td>
                <td>{{ artikel.bestelserie }}</td>
                <td>{{ artikel.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('artikel_show', { 'id': artikel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('artikel_edit', { 'id': artikel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('artikel_new') }}">Create a new artikel</a>
        </li>
    </ul>
{% endblock %}
